@font-face {
  font-family: "iconfont"; /* Project id 4273670 */
  src: url('//at.alicdn.com/t/c/font_4273670_5b601kqfmg4.woff2?t=1696427004614') format('woff2'),
       url('//at.alicdn.com/t/c/font_4273670_5b601kqfmg4.woff?t=1696427004614') format('woff'),
       url('//at.alicdn.com/t/c/font_4273670_5b601kqfmg4.ttf?t=1696427004614') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Bing:before {
  content: "\e87f";
}

.icon-bing:before {
  content: "\e63f";
}

